.git
.github
.venv
venv
__pycache__
*.pyc
.ipynb_checkpoints
.vscode
.idea
.env
notebooks
models
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
reports/figures/*
